<!DOCTYPE html>
<html>
  <head>
  	<title>Docstor</title>
    <!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	<% include templates/navbar.ejs %>

	<div id="usage" class="row">

	</div>

	<div id="contributing">

	</div>
  </body>
</html>
